.reveal section img.no-default {
    margin: 0px;
    box-shadow: none;
    border: none;
    background: none;
}

.reveal pre {
    box-shadow: none;
}

.reveal pre.small {
    font-size: 0.50em;
}

.reveal pre code {
    max-height: 450px;
}


#logo-vroom, #logo-h5t {
    position:fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.no-logos  #logo-h5t, .no-logos  #logo-vroom{
    opacity: 0;
}

#logo-h5t {
    left: 220px;
}

#flag {
    position:fixed;
    top: -20px;
    left: 0px;
    z-index: 9998;
    height: 80px;
}

h4 i.fa {
    margin-right: 20px;
}

.fa-green {
    color: green;
}

.fa-red {
    color: red;
}

.yellow {
    color: #fdcd16!important;
}

.half-width {
    width: 50%!important;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

li h5 {
    font-size: .8em!important
}

.reveal li h5 small {
    text-transform: none;
    font-weight: normal!important;
    display: block;
}
