section
  h2.yellow 2 - ARCHITETTURA
  p
    | L'architettura di un'
    em App Angular&nbsp;
    | va studiata attentamente per realizzare progetti prestanti e solidi.
  small
    | Conoscere l'anatomia dei componenti, curare attentamente il binding, conoscere la controller communication, etc...
    br
    | ci aiuta ad ottimizzare ogni singola parte del nostro progetto.
  aside.notes
    | [Qui note di presentazione]