// ARCHITETTURA - TIPS
section
  h3.yellow 2.1 - Tips Generali
  ul
    li
      h5 Responsabilità Singola
        small Definire un componente per singolo file.
    li
      h5 IIEF
        small
          | La
          em &nbsp;Immediately Invoked Function Expression&nbsp;
          | rimuove le variabili globali dallo scope.
    li
      h5 Named Function
        small Usa funzioni che hanno un nome piuttosto che passare una funzione anonima nella dichiarazione dei componenti.
  pre.no-default.nohighlight.half-width
    code.
      (function() {
          'use strict';

          angular
              .module('app')
              .factory('storage', storage);

          function storage() { }
      })();
  aside.notes
    | [Qui note di presentazione]
// END ARCHITETTURA - TIPS