// ARCHITETTURA - CONTROLLERS
section
  h3.yellow 2.1 - Controllers
  small
    table(style="width:100%")
        tr
          td
            h5 Sintassi controllerAs
          td
            | Ogni singolo modulo si occupa di una singola responsabilità.
          td
        tr
          td
            h5 Un Controller per Vista
          td
            | Modulo il cui ruolo è mettere insieme tutti i moduli le funzionalità dell'Applicazione. Comunemente assegnamo il nome
            em &nbsp;app.
        tr
          td
            h5 Controller dichiarati nelle Routes
          td
            | Comunemente assegnamo un nome che aiuti a definire la gerarchia dei moduli all'interno dell'Applicazione, esempio
            em &nbsp;app.blog
        tr
          td
            h5 Usare Setter/Getter
          td
            | Dichiarare i moduli usando la sintassi Setter (e non usando delle variabili) e recuperarli da lì in avanti via sintassi Getter
  pre.no-default.nohighlight.half-width
    code.
      //Modulo Principale
      angular
        .module('app', [
          'ngAnimate',
          'ngRoute',
          'app.blog',
          'app.user'
      ]);

      //Moduli Dipendenze
      angular.module('app.blog', []);
      angular.module('storage', []);
  aside.notes
    | [Qui note di presentazione]
// END ARCHITETTURA - MODULES