// ARCHITETTURA - SCOPE
section
  h3.yellow 2.5 - Scope
  h4
  p Usare un approccio Folders-by-Feature piuttosto che il classico approccio Folders-by-Type
  aside.notes
    | [Qui note di presentazione]
section
  h3.yellow 2.5 - Scope
  h4
    i.fa.fa-close.fa-red
    | Folders-by-Type
  p
    | Molti progetti AngularJS mostrano una struttura ispirata da un approccio
    em MVC
    | , organizzando quindi i files con un approccio di
    em Folders-by-Type&nbsp;
    | e cioè suddividendo le cartelle per controllers, viste, direttive, etc..
  small
    em
      strong Perchè no?
      br
      | Al crescere del progetto la struttura risulta dispersiva, e non consente di rintracciare facilmente le risorse del progetto, oltre che scomode da rendere riutilizzabili.
  aside.notes
    | [Qui note di presentazione]

// END ARCHITETTURA - SCOPE