// ARCHITETTURA - CONTROLLERS
section
  h3.yellow Controllers
  ul
    li
      h5 Usare la sintassi <em>controllerAs</em>
        small Previene l'affollamento degli $scope
    li
      h5 Usare la sintassi <em>controllerAs</em>
        small
    li
      h5
        small
