section
  h2.yellow ARCHITETTURA
  p <em>AngularJS</em> lascia abbastanza spazio all'interpretazione, in quanto è meno <em>opinionated</em> delle alternative.
  aside.notes
    | Lo spazio all'interpretazione non è sempre un bene ed è causa di Bad Practice.
