section
  h2.yellow 1 - Scaffolding
  p
    | Strutturare un'
    em App Angular&nbsp;
    | e scegliere gli strumenti per evitare di impazzire dopo poco tempo!
  small
    | Nelle prime fasi di un progetto si trascurano questi aspetti ma nel lungo termine influenzerenno il codice e la manutenibilit&agrave.
    br
    | Tutto ciò che serve è un po 'di accortezza, un po' di disciplina e una banale preferenza per la sanità mentale, piuttosto che la pazzia.
  aside.notes
    | Ci sono molti modi per strutturare un app e noi provvederemo a prendere in prestito alcuni principi da soluzioni consolidate, oltre ad alcune metodologie specifiche per Angular.