// SCAFFOLDING - PACKAGE MANAGER
section
  h3.yellow 1.3 - Package Manager
  h4 npm & Bower
  p Non possiamo fare a meno di un Package Manager!
  img.half-width(src='assets/bower-npm-logo.png')
  aside.notes
    | [Qui note di presentazione]
section
  h3.yellow 1.3 - Package Manager
  h4
    i.fa.fa-check.fa-green
    | NPM
  p Comunemente usato per la gestione di moduli Node.js, ma funziona bene anche per il front-end.
  h4
    i.fa.fa-check.fa-green
    | Bower
  p Creato esclusivamente per il front-end ed è ottimizzato per questo scopo.

  small
    em
      br
      | La più grande differenza è che&nbsp;
      strong NPM&nbsp;
      | gestisce le dipendenze annidate mentre&nbsp;
      strong Bower&nbsp;
      | richiede un albero delle dipendenze piatto.
      br
      | La ragione per cui molti progetti usano entrambi è che usano&nbsp;
      strong Bower&nbsp;
      | per i pacchetti di front-end e&nbsp;
      strong NPM&nbsp;
      | per strumenti di sviluppo come&nbsp;
      strong Yeoman, Grunt, Gulp, JSHint, CoffeeScript, etc.

  aside.notes
    p Un albero delle dipendenze nidificato significa che le dipendenze possono avere le proprie dipendenze che possono avere il proprio, e così via. Esso consente di preoccuparsi di conflitti di dipendenza come tutte le dipendenze utilizzano ad esempio la propria versione di sottolineatura.


// END SCAFFOLDING - PACKAGE MANAGER