// SCAFFOLDING - TASK RUNNER
section
  h3.yellow 1.4 - HTML Templates
  h4 Jade
  p Un linguaggio per la scrittura concisa di template HTML.
  img.half-width(src='assets/jade-logo-header.svg')
  aside.notes
    | [Qui note di presentazione]
// END SCAFFOLDING - TASK RUNNER