// SCAFFOLDING - TASK RUNNER
section
  h3.yellow Scaffolding - HTML Templates
  h4
    i.fa.fa-check.fa-green
    | Jade
  p Un linguaggio per la scrittura concisa di template HTML.
  img.half-width(src='assets/jade-logo-header.svg')
  aside.notes
    | [Qui note di presentazione]
// END SCAFFOLDING - TASK RUNNER