// SCAFFOLDING - TASK RUNNER
section
  h3.yellow Scaffolding - Task Runner
  h4 Gulp vs Grunt
  p Facciamo fare il lavoro ripetitivo ad altri!
  img(src='assets/build-tools.png')
  aside.notes
    | [Qui note di presentazione]
section
  h3.yellow Scaffolding - Task Runner
  h4
    i.fa.fa-check.fa-green
    | Gulp
  p
    | Gulp è&nbsp;
    em stream-based
    | , e lancia i processi in maniera&nbsp;
    em concorrente
    |  in modo da eseguirli in parallelo, se possibile.

  h4
    i.fa.fa-close.fa-red
    | Grunt
  p
    | Grunt è&nbsp;
    em configuration-based
    | , e lancia i processi in maniera&nbsp;
    em sequenziale.


  small
    em
      br
      | Da&nbsp;
      strong Grunt&nbsp;
      | si passa a
      strong Gulp&nbsp;
      | e non si torna indietro.
      br
      | Pi&ugrave; veloce nell'esecuzione dei tasks, oltre che una migliore e flessibile modalit&agrave; di configurazione.

  aside.notes
    p Vale la pena sottolineare che vi è una nuova versione del Grunt in sviluppo ed userà Orchestrator.
// END SCAFFOLDING - TASK RUNNER