section
  h2.yellow
    i.fa.fa-folder-open-o.section-icon
    | Scaffolding
  p
    | Strutturare un'applicazione <em>AngularJS</em> e scegliere gli strumenti per evitare di impazzire dopo poco tempo!
  small
    | Nelle prime fasi di un progetto si trascurano questi aspetti
    br
    | ma nel lungo termine influenzerenno il codice e la manutenibilità.
    br
    | Tutto ciò che serve è un po' di accortezza, un po' di disciplina
    br
    | ed una banale preferenza per la sanità mentale, piuttosto che la pazzia.
  aside.notes
    p molti modi per strutturare un applicazione
    p prendere in prestito alcuni principi da soluzioni consolidate