// SCAFFOLDING - NOMENCLATURA
section
  h3.yellow Scaffolding - Nomenclatura
  h4 La regola fondamentale è la coerenza!
  p Le convezioni sui nomi (sia dei files che dei componenti di <em>AngularJS</em>) consentono di organizzare bene un progetto, rendendo facile la rintracciabilità e la redazione del codice.
section
  h3.yellow Scaffolding - Nomenclatura
  h4
    i.fa.fa-check.fa-green
    | Nomi dei files
  p
    | Lo schema suggerito è <em>feature.type.js</em>
    br
    | e per i test è <em>feature.type.spec.js</em>
  small
    em
      | Seguire uno schema nell'assegnazione dei nomi dei files consente di individuare a colpo d'occhio la funzionalità ed il tipo di codice contenuto in ogni singolo file.
      br
      | Uno schema aiuta inoltre a gestire i processi di automazione (testing, concatenamento, minificazione, etc...).
  pre.no-default.nohighlight.half-width: code.
      calendar.directive.js
      calendar.directive.spec.js
      shell.controller.js
      shell.controller.spec.js
      blog.controller.js
      blog.controller.spec.js
      ...
section
  h3.yellow Scaffolding - Nomenclatura
  h4
    i.fa.fa-check.fa-green
    | Nomi dei componenti di AngularJS
  small
    table
      thead
        th Componente
        th Convenzione
        th Esempio
        th Note
      tbody
        tr
          td Controllers
          td camelCase
          td
            code appBlogsController
          td
            | Suffisso <em>Controller</em>
        tr
          td Services/Factories
          td camelCase
          td
            code appDataService
          td
            | Suffisso <em>Service</em>
            br
            | Evitare il prefisso <em>$</em>
        tr
          td Directives
          td camelCase
          td
            code appCalendarDirective
          td
            | Suffisso <em>Directive</em>
    p
      em
        | Seguire le convenzioni aiuta ad identificare facilmente e referenziare i componenti,
        br
        | oltre che ad evitare eventuali collisioni di nomi.
  pre.small: code.javascript.
      angular
        .module
        .controller('appBlogsController', BlogsController);

        function BlogsController() {}
  aside.notes
    p La nomenclatura di Papa cambia per l'uso del prefisso solo per le direttive, oltre che per la forma ed i suffissi.
    p N.B. Usa un breve prefisso minuscolo che descriva l'area alla quale la directive appartiene (alcuni esempi sono prefissi relativi all'azienda o al progetto).
// END SCAFFOLDING - NOMENCLATURA