// SCAFFOLDING - TASK RUNNER
section
  h3.yellow
    span.section-title Scaffolding
    | Task Runner
  h4 Gulp vs Grunt
  p Facciamo fare il lavoro ripetitivo ad altri!
  img(src='assets/build-tools.png')
  aside.notes
    | [Qui note di presentazione]
section
  h3.yellow
    span.section-title Scaffolding
    | Task Runner
  h4
    i.fa.fa-check.fa-green
    | Gulp
  p <em>Gulp</em> è <em>stream-based</em> e lancia i processi in maniera <em>concorrente</em> in modo da eseguirli in parallelo, se possibile.

  h4
    i.fa.fa-close.fa-red
    | Grunt
  p
    | <em>Grunt</em> è <em>configuration-based</em> e lancia i processi in maniera <em>sequenziale</em>.

  small
    em
      br
      | Se da <strong>Grunt</strong> si passa a <strong>Gulp</strong> e non si torna indietro.
      br
      | Più veloce nell'esecuzione dei tasks, oltre ad avere anche una migliore e flessibile modalità di configurazione.
  aside.notes
    p Vale la pena sottolineare che vi è una nuova versione del Grunt in sviluppo ed userà Orchestrator.
// END SCAFFOLDING - TASK RUNNER