section
  section(data-state='no-logos')
    h2 Links
    ul
      li
        p https://plus.google.com/+AngularJS/
      li
        p https://github.com/johnpapa/angular-styleguide
      li
        p https://github.com/toddmotto/angularjs-styleguide
      li
        p http://www.ng-newsletter.com/
      li
        p http://www.html5today.it
section
  section(data-state='no-logos')
    h1 THE END
    p Francesco Sciuti / Stefano Torresi
    p
      img.no-default(src='assets/logoH5T.png')
      br
      small http://www.html5today.it
    p
      img.no-default(src='assets/logoVroom.png')
      br
      small http://vroom.agency