section
  img.no-default(src='assets/angularjs-logo.png')
  h1
    | AngularJS
    br
    | Best Practices
  h3 GDG DevFest Mediterranean 2015
  p
    small Francesco Sciuti / Stefano Torresi
section
  h2 Chi sono questi due?
  img.half-width(src='assets/caschi.png')
  p
    | Difficile da dire senza usare brutte parole...
    br
    | beh, siamo amanti e professionisti del web! Speriamo basti!
  aside.notes
    | [Qui note di presentazione]
section
  h2 Perchè Best Practices?
  | L'utilizzo delle <em>Best Practices</em> aiuta a scrivere codice migliore, facilmente riutilizzabile ed in minor tempo.
  p.yellow Parleremo di:
  ul.yellow
    li Scaffolding
    li Architettura
    li Templates
  aside.notes
    | [Qui note di presentazione]