section
  img.no-default(src='assets/angularjs-logo.png')
  h1
    | AngularJS
    br
    | Best Practices
  h3 GDG DevFest Mediterranean 2015
  p
    small Francesco Sciuti / Stefano Torresi
section
  h2 Chi sono questi due?
  p
    | Difficile da dire senza usare brutte parole...
    br
    | beh, siamo amanti e professionisti del web! Penso che basti!
  aside.notes
    | [Qui note di presentazione]
section
  h2 Perchè Best Practices?
  presentazione
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis. Cras arcu ante, consectetur vel nulla in, tincidunt iaculis ipsum.
  aside.notes
    | [Qui note di presentazione]
section
  h2 Vantaggi Best Practices
  ul
    li No order here
    li Or here
    li Or here
    li Or here
  aside.notes
    | [Qui note di presentazione]