section
  img.no-default(src='assets/angularjs-logo.png')
  h1
    | AngularJS
    br
    | Best Practices
  h3
    img.gdg-logo(src='assets/GDG-Logo.png')
    | GDG DevFest Mediterranean 2015
  p
    small Francesco Sciuti / Stefano Torresi
section
  h2 Chi sono questi due?
  img.half-width(src='assets/caschi.png')
  p
    | Difficile da dire senza usare brutte parole...
    br
    | beh, siamo amanti e professionisti del web! Speriamo basti!
  aside.notes
    p Ironia...portami via! :D
section
  h2 Perchè Best Practices?
  p L'utilizzo delle <em>Best Practices</em> aiuta a scrivere codice migliore, facilmente riutilizzabile ed in minor tempo.
  p Come per ogni altro stack, seguire le <em>Best Practices</em> è una <em>forma mentis</em> che si applica sin dalla fase progettazione di un'applicazione.
  aside.notes
    p Coerenza, Continuità, Ordine
    p Non useremo le best practice in ogni esempio