section
	include subs/3-architettura/_3-1-architettura-intro
	include subs/3-architettura/_3-2-architettura-tips
	include subs/3-architettura/_3-3-architettura-moduli
	include subs/3-architettura/_3-4-architettura-controllers
	include subs/3-architettura/_3-5-architettura-servizi
	include subs/3-architettura/_3-6-architettura-direttive
	include subs/3-architettura/_3-7-architettura-scope
	include subs/3-architettura/_3-8-architettura-cross-communication