section
  section
    h2.yellow
      i.fa.fa-info-circle.fa-fw
      | Tips
    p Alcuni accorgimenti di fondamentale importanza.

  section
    +section-title-mini('fa-info-circle', 'Tips', 'Generali')
    ul
      li
        h5
          | IIFE <em>(Immediately Invoked Function Expressions)</em>
          small Evitare di intervenire accidentalmente sul global scope.
      li.fragment
        h5 Named functions
          small Le named function offrono la possibilità di essere riuitilizzate.
      li.fragment
        h5 Strict DI Mode <em>(Strict Dependency Injection Mode)</em>
          small Permette di evitare errori di nomenclatura dei servizi, difficili da <em>debuggare</em>.

  section
    +section-title-mini('fa-info-circle', 'Tips', 'Generali')
    h5 IIFE e named function
    pre: code.javascript.
        (function() {
            'use strict';
            function AppBlogService() { /* etc */ }

            angular.module('app.blog')
                .factory('appBlogService', appBlogService);
        })();

  section
    +section-title-mini('fa-info-circle', 'Tips', 'Generali')
    h5 Strict DI mode
    pre: code.html.
      &lt;html ng-app="application" ng-strict-di&gt;
    small oppure
    pre(style="margin-top:0;"): code.javascript.
      angular.bootstrap(document, ['application'], { strictDi: true});
    | e poi
    pre.small: code.javascript.
      angular.service('appService', ['$http', function($http) { /* etc */ }]);

    aside.notes
      p Aggiungere che, per non essere forzati alla dichiarazione verbosa delle dipendenze tramite array, si può usare il task <em>ngAnnotate</em> su Gulp/Grunt
