section
  section
    h2 Riepilogo BP
    table
      thead
        tr
          th Item
          th Value
          th Quantity
      tbody
        tr
          td Apples
          td $1
          td 7
        tr
        tr
          td Lemonade
          td $2
          td 18
        tr
        tr
          td Bread
          td $3
          td 2
        tr
  section
    h2 Giuramento
    p
      | These guys come in two forms, inline:
      q(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
        | “The nice thing about standards is that there are so many to choose from”
      |  and block:
    blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
      | “For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
      | reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.”
  section(data-state='no-logos')
    h1 THE END
    p Francesco Sciuti / Stefano Torresi
    p
      img.no-default(src='assets/logoH5T.png')
      br
      small http://www.html5today.it
    p
      img.no-default(src='assets/logoVroom.png')
      br
      small http://vroom.agency