section
  section(data-state='no-logos')
    h1 THE END
    p Francesco Sciuti / Stefano Torresi
    p
      img.no-default(src='assets/logoH5T.png')
      br
      small http://www.html5today.it
    p
      img.no-default(src='assets/logoVroom.png')
      br
      small http://vroom.agency