section
          section
            h2 Gruppo di BP 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis. Cras arcu ante, consectetur vel nulla in, tincidunt iaculis ipsum.
            p
              | Scorro in basso e trovo i singoli casi
              em Space
              |  key to navigate through all slides.
          section
            h3 Best Practice 1 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
            p
              small
                em Sbajato:
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
              br
              small
                em Corretto:
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
          section
            h3 Best Practice 1 2
            pre.no-default.
            pre.no-default.
          section
            h3 Best Practice 2 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
            p
              small
                em Sbajato:
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
            p
              small
                em Corretto:
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo ultricies convallis.
          section
            h3 Best Practice 2 2
            pre.
        section
          h2 Riepilogo BP
          table
            thead
              tr
                th Item
                th Value
                th Quantity
            tbody
              tr
                td Apples
                td $1
                td 7
              tr
              tr
                td Lemonade
                td $2
                td 18
              tr
              tr
                td Bread
                td $3
                td 2
              tr
        section
          h2 Giuramento
          p
            | These guys come in two forms, inline:
            q(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
              | “The nice thing about standards is that there are so many to choose from”
            |  and block:
          blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
            | “For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
            | reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.”
        section(data-state='no-logos')
          h1 THE END
          p Francesco Sciuti / Stefano Torresi
          p
            img.no-default(src='assets/logoH5T.png')
            br
            small http://www.html5today.it
          p
            img.no-default(src='assets/logoVroom.png')
            br
            small http://vroom.agency