section
  h2.yellow
    i.fa.fa-file-code-o.section-icon
    | TEMPLATES
  p Alcuni piccoli accorgimenti ai templates possono migliorare sensibilmente la nostra applicazione!
  aside.notes
    | Templates o Views